<h2>Edit post</h2>
<%= form_with url: gifticon_index_path, scope: :item, multipart: true, local: true do |form| %>
  <p>

    <%= form.label :image %><br>
    <%= form.file_field :image %>
  <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
  </p>
  
  <p>
      <%= form.label :content %><br>
      <%= form.text_area :content %>
  </p>
  
  
  <%= form.submit %>
<% end %>