<h2>New post</h2>
<%= form_with url: gifticon_index_path, scope: :item,  multipart: true, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>
  
  <p>
    <input type="file" name="image">
    <%= item.hidden_field :item_cache %><br>
    <!--<= file_field_tag 'image' %><br>-->
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>


